extends layout

block content
    .jumbotron 
      .container
        h1= title
        p Projects That I Have Worked On:
        ul
          li RubberDucky Using Arduino
          li Website using PHP authentication
          li Online Buying Website
      p hello